/* common css starts */
* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: center;
}

.full-wrapper {
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* head text css starts */
.h-text{
    text-align: center;
}

.h-text h2 {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

/* head text css ends */


/* paragraph css starts */
p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* paragraph css ends */

/* button css starts */
.btn {
    border-radius: 8px;
    background: #E55473;
    /* padding: 20px 43px; */
    border: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.btn a {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.btn:hover {
    background-color: #FFF;
    border: 1px solid #E55473;
}

.btn:hover a {
    color: #E55473;
}

/* button css ends */

body {
    font-family: 'Lato', sans-serif;
}

/* common css ends */

/* banner css starts */
header #banner .banner-bg {
    background-color: rgba(229, 84, 115, 0.100)
}

header #banner .banner-bg .banner {
    display: flex;
    justify-content: space-between;
}

header #banner .banner-bg .banner .banner_content {
    max-width: 708px;
    padding-top: 197px;
}

header #banner .banner-bg .banner .banner_content h1 {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

header #banner .banner-bg .banner .banner_content .banner_img img {
    width: 100%;
}

/* banner css ends */

/* discount section starts */
#discount .discount-bg{
    background-color: rgba(229, 84, 115, 0.100);
    margin-top: 128px;
}

#discount .discount-bg .discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

#discount .discount-bg .discount .discount-img{
    margin-right: 187px;
}

.h2_span{
    color: #E55473;
}
/* discount section ends */